.BlockUserTable th {
    text-align: left;
}

.DataTable.BlockUserTable td {
    vertical-align: middle;
}

.BlockUserPhoto {
    width: 40px;
}
.BlockUserActions > a {
    margin: 5px;
}

.BlockUserEdit {
    top:20px;
    padding-left: 20px;
    text-align:center;
}

.BlockUserEdit .ProfilePhoto {
    width: 100px;
    height: 100px;
}


.Item.Ignored,
.Item.Read.Ignored:hover
{
    opacity: 0.3;
}

.Item.Activity.Ignored,
.Ignored > .Item .Item-BodyWrap {
    display: none;
}
