.Item.BlockedContent,
.Item.Read.BlockedContent:hover
{
    opacity: 0.3;
}

.Item.Activity.BlockedContent,
.BlockedContent .Item-BodyWrap,
.CommentMeta,
.DiscussionMeta {
    display: none;
}


.BlockedContent .ProfilePhotoMedium {
    height: 20px;
    width: 20px;
}